<h3>About</h3>
<p>This page enables user to add description about the project</p>
<div>
    <label>Author     :
      <input [(ngModel)]="author" placeholder="author"/>
    </label>   
    <br/> 
    <label>Title      :
     <input [(ngModel)]="title" placeholder="title"/>
    </label>    
    <br/>
    <label>Description:
     <input [(ngModel)]="description" placeholder="description"/>
    </label>
  </div>

  <button class="button" (click)="add()">Add</button>

  <div>
    <div *ngFor="let detail of details" id="comment">
      <h4>Title: {{detail.getTitle()}}</h4>      
      <h5>Description: {{detail.getDesc()}}</h5>      
      <h5>Written by: {{detail.getAuthor()}}</h5>
      <br/>
    </div>
  </div>


